.book-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .book-cover {
    max-width: 150px;
    margin-right: 16px;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .book-author {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 12px;
  }
  
  .book-description {
    font-size: 1em;
    color: #333;
  }
  .book-details button{
    margin-top: 2rem;
  }