@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.book-container{
    margin-top: 7rem;
}
.book-container h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}
.books-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 1rem;    
}